<%%= content_tag(:div, :id=>"<%= singular_name %>_#{<%= singular_name %>.id}", :class=>"dinamic-bl") do %>
  <div class="act-bl" style="display:none;">
    <%%= link_to image_tag("manage/ico_edit.gif", :alt=>t('manage.edit'), :title=>t('manage.edit')), edit_manage_<%= parent_singular_name %>_<%= singular_name %>_path(@<%= parent_singular_name %>.id, <%= singular_name %>.id), :class=>"icons" %>

    <%%= link_to image_tag("manage/ico_del.gif", :alt=>t('manage.delete'), :title=>t('manage.delete')), manage_<%= parent_singular_name %>_<%= singular_name %>_path(@<%= parent_singular_name %>.id, <%= singular_name %>.id), 
          :method=>:delete, :confirm=>t("manage.confirm_delete"), :class=>"icons" %>
  </div>
  
  <div class="bot-bg">
    <div class="dinamic-container">
    	<div class="right-data">	
        <div class="right-data-cont">
          <div class="dinamic-inner">
          	<div class="r-block">
              <div class="r-block-cont">
                <%%= link_to <%= singular_name %>.name, edit_manage_<%= parent_singular_name %>_<%= singular_name %>_path(@<%= parent_singular_name %>.id, <%= singular_name %>.id), :class=>"title" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="left-data">
        <span class="data"><%%= raw I18n.l(<%= singular_name %>.created_at, :format=>"<span>%d/%m</span>%Y") %></span>
      </div>
    </div>
  </div>
<%% end %>
