<div class="edit-bl">
  <div class="bot-bg">
    <div class="block-title"><%%= t('manage.add') %>:</div>
    <%%= form_for [:manage, @<%= parent_singular_name %>, @<%= singular_name %>], :html=>{:multipart=>true, :id=>'<%= singular_name %>_form'} do |f| -%>
      <%%= render :partial=>"manage/<%= plural_name %>/form", :object=>f %>
      
      <div style="padding: 20px 0px 10px 20px;" class="buts">
        <%%= link_to_function content_tag(:span, t('manage.create')), "$('#<%= singular_name %>_form').submit()", :class=>"gr" %>
        <%%= link_to t('manage.cancel'), manage_<%= parent_singular_name %>_<%= plural_name %>_path(@<%= parent_singular_name %>.id), :class=>"erase" %>
        <%%= f.submit t('manage.create'), :style=>"display:none;" %>
      </div>
    <%% end %>
  </div>
</div>
